**Question 1**

**Create a function that takes a list of non-negative integers and strings and return a new list without the strings.**

**Examples** 

filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [1]:
## final Result

def filter_list(list1) :
  #list1 = [1, 2, "a", "b"]
  list2 = []

  for i in list1:
    if type(i) != str:
      list2.append(i)
  print(f"filter_list({list1}) ➞", list2)

In [2]:
filter_list([1, 2, "a", "b"])

filter_list([1, 2, 'a', 'b']) ➞ [1, 2]

In [3]:
filter_list([1, "a", "b", 0, 15])

filter_list([1, 'a', 'b', 0, 15]) ➞ [1, 0, 15]

In [4]:
filter_list([1, 2, "aasf", "1", "123", 123])

filter_list([1, 2, 'aasf', '1', '123', 123]) ➞ [1, 2, 123]

**##########################################################################################################**

**Question 2**

**The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.**

**Examples**

reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

In [16]:
## final Result



def reverse(s):


  #s = "Hello World"
  print("oriinal string is =",s )

  x = s.swapcase()
  reverse_x = reversed(x)
  join_reversed_x = "".join(reverse_x)

  print("Reversed string is =",join_reversed_x)

In [9]:
reverse("Hello World")

oriinal string is = Hello World
Reversed string is = DLROw OLLEh

In [10]:
reverse("ReVeRsE")

oriinal string is = ReVeRsE
Reversed string is = eSrEvEr

In [11]:
reverse("Radar")

oriinal string is = Radar
Reversed string is = RADAr

**##########################################################################################################**

**Question 3**

**You can assign variables from lists like this:**

lst = [1, 2, 3, 4, 5, 6]

first = lst[0]

middle = lst[1:-1]

last = lst[-1]

print(first) ➞ outputs 1

print(middle) ➞ outputs [2, 3, 4, 5]

print(last) ➞ outputs 6

With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:

first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6


Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [2]:
lst = [1, 2, 3, 4, 5, 6]

first,*middle,last = lst

In [3]:
first

1

In [4]:
middle

[2, 3, 4, 5]

In [5]:
last

6

**##########################################################################################################**

**Question 4**

**Write a function that calculates the factorial of a number recursively.**

**Examples**

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [7]:
## Final Result

def factorial(n):

  fact0 = 0
  fact1 = 1

  if n==0 or n==1:

    return 1

  else :

    return n*factorial(n-1)

In [8]:
factorial(5)

120

In [9]:
factorial(3)

6

In [10]:
factorial(1)

1

In [11]:
factorial(0)

1

**##########################################################################################################**

**Question 5**

**Write a function that moves all elements of one type to the end of the list.**

**Examples**

move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]

Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [2]:
## final Result

def movingelementatend( list , selectelement) :
  

  #selectelement = 1

  #list = [1, 3, 2, 4, 4, 1]

  print("Original List =", list)

  ## remove 1 from list

  empty = []
  commonelementlist = []

  for i in list :
    if i != selectelement:

      empty.append(i)

#print(empty)

    else:

      commonelementlist.append(i)




  #print("List not having 1 =",empty)
  #print("List having 1 =",commonelementlist)


  empty.extend(commonelementlist)
  print(f"move_to_end({list , selectelement}) ➞", empty)
  #list.removeall(1)
  #list.remove(1)
  #list

In [3]:
movingelementatend( [1, 3, 2, 4, 4, 1] , 1)

Original List = [1, 3, 2, 4, 4, 1]
move_to_end(([1, 3, 2, 4, 4, 1], 1)) ➞ [3, 2, 4, 4, 1, 1]

In [4]:
movingelementatend( [7, 8, 9, 1, 2, 3, 4], 9)

Original List = [7, 8, 9, 1, 2, 3, 4]
move_to_end(([7, 8, 9, 1, 2, 3, 4], 9)) ➞ [7, 8, 1, 2, 3, 4, 9]

In [5]:
movingelementatend( ["a", "a", "a", "b"], "a")

Original List = ['a', 'a', 'a', 'b']
move_to_end((['a', 'a', 'a', 'b'], 'a')) ➞ ['b', 'a', 'a', 'a']

**##########################################################################################################**