**Question1**

**Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.**

**Examples**

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [10]:
## Final Result 

def addremove_element1( list, n):

    if list != []:

      

      list.append(n)

      

      list.pop(0)

      print(f" next_in_line({list,n}) ➞ ", list)

    else:
        print(f" next_in_line({list,n}) ➞ ", end = " ")
        return "No list has been selected"

In [11]:
addremove_element1([5, 6, 7, 8, 9], 1)

 next_in_line(([6, 7, 8, 9, 1], 1)) ➞  [6, 7, 8, 9, 1]

In [12]:
addremove_element1([7, 6, 3, 23, 17], 10)

 next_in_line(([6, 3, 23, 17, 10], 10)) ➞  [6, 3, 23, 17, 10]

In [13]:
addremove_element1([1, 10, 20, 42 ], 6)

 next_in_line(([10, 20, 42, 6], 6)) ➞  [10, 20, 42, 6]

In [14]:
addremove_element1([], 6)

 next_in_line(([], 6)) ➞

'No list has been selected'

**##########################################################################################################**

**Question2**

**Create the function that takes a list of dictionaries and returns the sum of people's budgets.**

**Examples**

get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700


get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [15]:
## final Result

def addbudget(list):

  #list = [ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]
  empty = []
  for i in list:
    #print(i["budget"])
    empty.append(i["budget"])

  print(f"get_budgets({list}) ➞", end = " ")
  print(sum(empty))

In [16]:
addbudget([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ])

get_budgets([{'name': 'John', 'age': 21, 'budget': 23000}, {'name': 'Steve', 'age': 32, 'budget': 40000}, {'name': 'Martin', 'age': 16, 'budget': 2700}]) ➞ 65700

In [17]:
addbudget([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ])

get_budgets([{'name': 'John', 'age': 21, 'budget': 29000}, {'name': 'Steve', 'age': 32, 'budget': 32000}, {'name': 'Martin', 'age': 16, 'budget': 1600}]) ➞ 62600

**##########################################################################################################**

**Question3**

**Create a function that takes a string and returns a string with its letters in alphabetical order.**

**Examples**

alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [18]:
## Final Result

def sort(s):

  #s = "hello"
  sort = sorted(s)
  print(f"alphabet_soup({s}) ➞ ", end=" ")
  return ''.join(sort)

In [19]:
sort("hello")

alphabet_soup(hello) ➞

'ehllo'

In [20]:
sort("edabit")

alphabet_soup(edabit) ➞

'abdeit'

In [21]:
sort("hacker")

alphabet_soup(hacker) ➞

'acehkr'

In [22]:
sort("geek")

alphabet_soup(geek) ➞

'eegk'

In [23]:
sort("javascript")

alphabet_soup(javascript) ➞

'aacijprstv'

**##########################################################################################################**

**Question4**

**Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?**

**Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.**

**For the example above:**

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily 


**Examples**

compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [29]:
## Final Result 

def compound(p,t,r,m) :
  #p = 100
  #t = 1
  #r = 0.05
  #m =  1
  a = p * (1 + (r/m)) ** (t *m)
  print(f"compound_interest({p,t,r,m}) ➞ ", end= " ")
  print(round(a))

In [30]:
compound(10000, 10, 0.06, 12)

compound_interest((10000, 10, 0.06, 12)) ➞  18194

In [31]:
compound(100, 1, 0.05, 1)

compound_interest((100, 1, 0.05, 1)) ➞  105

In [32]:
compound(3500, 15, 0.1, 4)

compound_interest((3500, 15, 0.1, 4)) ➞  15399

In [33]:
compound(100000, 20, 0.15, 365)

compound_interest((100000, 20, 0.15, 365)) ➞  2007316

**##########################################################################################################**

**Question5**

**Write a function that takes a list of elements and returns only the integers**.

**Examples**

return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [24]:
## Final Result

def numbersonly(list):
  #list = [1, 2, 3, "a", "b", 4]

  newlist =[]

  for i in list:
    if type(i) == int :

      newlist.append(i)

  print(f"return_only_integer({list}) ➞", end = " ")
  print(newlist)

In [25]:
numbersonly([9, 2, "space", "car", "lion", 16])

return_only_integer([9, 2, 'space', 'car', 'lion', 16]) ➞ [9, 2, 16]

In [26]:
numbersonly(["hello", 81, "basketball", 123, "fox"])

return_only_integer(['hello', 81, 'basketball', 123, 'fox']) ➞ [81, 123]

In [27]:
numbersonly([10, "121", 56, 20, "car", 3, "lion"])

return_only_integer([10, '121', 56, 20, 'car', 3, 'lion']) ➞ [10, 56, 20, 3]

In [28]:
numbersonly(["String", True, 3.3, 1])

return_only_integer(['String', True, 3.3, 1]) ➞ [1]

**##########################################################################################################**