**Question 1 -Write a Python program to find sum of elements in list?**


**Answer 1 -**

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]


print("Sum of all elements in given list: ", sum(list1))

Sum of all elements in given list:  55

In [ ]:
import numpy as np
list1 = [1,2,3,4,5]

np.sum(list1)

15

**##########################################################################################################**

**Question 2 -Write a Python program to  Multiply all numbers in the list?**


**Answer 2 -**

In [ ]:
import numpy as np
list1 = [1,2,3,4,5]

np.prod(list1)

120

**##########################################################################################################**

**Question 3 -Write a Python program to find smallest number in a list?**


**Answer 3 -**

In [ ]:
import numpy as np
list1 = [11, 5, 17, 18, 23]

np.min(list1)

5

**##########################################################################################################**

**Question 4 -Write a Python program to find largest number in a list?**


**Answer 4 -**

In [ ]:
import numpy as np
list1 = [11, 5, 17, 18, 23]

np.max(list1)

23

**##########################################################################################################**

**Question 5 -Write a Python program to find second largest number in a list?**


**Answer 5 -**

In [1]:
list1 = [11, 5, 17, 18, 23]
new = (list(set(list1)))
new.sort()
new[-2]

18

**##########################################################################################################**

**Question 6 -Write a Python program to find N largest elements from a list?**


**Answer 1 -**

In [3]:
list1 = [11, 5, 17, 18, 23]
list2 = list(set(list1))
list2.sort()
n = int(input("enter nth position = "))
print(f"the {n} th largest element is = {list2[-n]}")

enter nth position = 3
the 3 th largest element is = 17

In [4]:
list1 = [11, 5, 17, 18, 23]
list2 = list(set(list1))
list2.sort()
n = int(input("enter nth position = "))
print(f"the {n} th largest element is = {list2[-n]}")

enter nth position = 2
the 2 th largest element is = 18

**##########################################################################################################**

**Question 7 -Write a Python program to print even numbers in a list?**


**Answer 7 -**

In [ ]:
list=[]
for i in range(0,20):
  if i%2 == 0 :
    list.append(i)
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**##########################################################################################################**

**Question 8 -Write a Python program to print odd numbers in a List?**


**Answer 8 -**

In [ ]:
list=[]
for i in range(0,20):
  if i%2 != 0 :
    list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**##########################################################################################################**

**Question 9 -Write a Python program to Remove empty List from List?**


**Answer 9 -**

In [ ]:
list1 = [[], [], [], 'Red', 'Green', [1,2], 'Blue', [], []]
print("Original list:")
print(list1)
print("\nAfter deleting the empty lists from the said lists of lists")
list2 = [x for x in list1 if x]
print(list2)

Original list:
[[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []]

After deleting the empty lists from the said lists of lists
['Red', 'Green', [1, 2], 'Blue']

**##########################################################################################################**

**Question 10 -Write a Python program to Cloning or Copying a list?**


**Answer 10 -**

In [ ]:
list1 = [11, 5, 17, 18, 23]
#list2 = []
list2 = list1.copy()
list2

[11, 5, 17, 18, 23]

In [ ]:
list1 = [11, 5, 17, 18, 23]
list2 = []
list2 = list1.copy()
list2

[11, 5, 17, 18, 23]

In [ ]:
list1 = [11, 5, 17, 18, 23]
list2 = []
for i in list1:
  list2.append(i)
print(list2)

[11, 5, 17, 18, 23]

**##########################################################################################################**

**Question 11 -Write a Python program to Count occurrences of an element in a list?**


**Answer 11 -**

In [ ]:
list1 = [11, 5, 17, 18, 23,23,23,18,20,11,5,5,5,5,5,5]
list1.count(5)

7

**##########################################################################################################**