**Question1**

**Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.**

**Examples**

filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

In [1]:
## Final Result

def numbersonly(list):
  #list = [1, 2, 3, "a", "b", 4]

  newlist =[]

  for i in list:
    if type(i) == int :

      newlist.append(i)

  print(f"filter_list({list}) ➞", end = " ")
  print(newlist)

In [2]:
numbersonly([1, 2, 3, "a", "b", 4])

filter_list([1, 2, 3, 'a', 'b', 4]) ➞ [1, 2, 3, 4]

In [3]:
numbersonly(["A", 0, "Edabit", 1729, "Python", "1729"])

filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729']) ➞ [0, 1729]

In [4]:
numbersonly(["Nothing", "here"])

filter_list(['Nothing', 'here']) ➞ []

**##########################################################################################################**

**Question2**

**Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...**

**Examples**

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [5]:
## final Result

def indexaddition(list):

  #list = [0,0,0,0,0]
  ind = 0
  empty = []

  for i in list :

    l= list.index(i,ind) + i

    empty.append(l)

    ind = ind + 1

  print(f"add_indexes({list}) ➞", end=" ")
  print(empty)

In [6]:
indexaddition([0,0,0,0,0])

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

In [7]:
indexaddition([1, 2, 3, 4, 5])

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

In [8]:
indexaddition([5, 4, 3, 2, 1])

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

**##########################################################################################################**

**Question3**

**Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.**


![image.png]()
 
**Examples**

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [9]:
## Final Result

import math
def volume(h,r) :

  #h =3

  #r = 2

  pi = math.pi

  volume = (1/3)*(pi * r * r * h)
  
  print(f"cone_volume({h,r}) ➞ ", end= " ")
  print(round(volume,2))

In [10]:
volume(3,2)

cone_volume((3, 2)) ➞  12.57

In [11]:
volume(15,6)

cone_volume((15, 6)) ➞  565.49

In [12]:
volume(18,0)

cone_volume((18, 0)) ➞  0.0

**##########################################################################################################**

**Question4**

**This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:** 

**1, 3, 6, 10, 15**

**This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.**

**Write a function that gives the number of dots with its corresponding triangle number of the sequence.**

**Examples**

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [17]:
## Final Result

def addallnumbers(n):



  #n = 6
  empty = []

  for i in range(n+1):

      empty.append(i)

  print(f"triangle({n}) ➞", end = " ")
  print(sum(empty))

In [18]:
addallnumbers(1)

triangle(1) ➞ 1

In [19]:
addallnumbers(6)

triangle(6) ➞ 21

In [20]:
addallnumbers(215)

triangle(215) ➞ 23220

In [ ]:
##########

In [21]:
## Final Result


def triangle(n):


  # Formula For Triangular Number Sequence
  formula =(1/2) * (n*(n+1))
  #return formula
  print(f"triangle({n}) ➞ ", end= " ")
  print(round(formula))

In [22]:
triangle(1)

triangle(1) ➞  1

In [23]:
triangle(6)

triangle(6) ➞  21

In [24]:
triangle(215)

triangle(215) ➞  23220

**##########################################################################################################**

**Question5**

**Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.**

**Examples**

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [13]:
## Final Result

def missing(list) :

  l = [1,2,3,4,5,6,7,8,9,10]

  #list = [10, 5, 1, 2, 4, 6, 8, 3, 9]

  for i in l:

    if i not in list :

      print(f"missing_num({list}) ➞", end=  "  ")

      print(i)

In [14]:
missing([1, 2, 3, 4, 6, 7, 8, 9, 10])

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞  5

In [15]:
missing([7, 2, 3, 6, 5, 9, 1, 4, 8])

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞  10

In [16]:
missing([10, 5, 1, 2, 4, 6, 8, 3, 9])

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞  7

**##########################################################################################################**