**Question 1 - Write a Python Program to Find the Factorial of a Number?**


**Answer 1 -**

In [ ]:
def facto(n):
  if n<=1 :
    return 1
  else:
    for i in range(1,n)  :
      return n * facto(n-1)

n = int(input("enter value n ="))
print("factorial of value {} is = {} ".format(n,facto(n)))

enter value n =10
factorial of value 10 is = 3628800

**##########################################################################################################**

**Question 2 - Write a Python Program to Display the multiplication Table?**


**Answer 2 -**

In [ ]:
def multiplicationtable(n):
  #n = int(input("enter n = "))
  print(f"Multiplication table of {n} is as below :")
  for i in range(1,11):
    print(f"{n} X {i} = {n *i}")

multiplicationtable(2)

Multiplication table of 2 is as below :
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
multiplicationtable(10)

Multiplication table of 10 is as below :
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

**##########################################################################################################**

**Question 3 - Write a Python Program to Print the Fibonacci sequence?**


**Answer 3 -**

In [ ]:
def fib(n):
  #  n = int(input()) 

  fib0 = 0
  fib1 = 1
  print(" fibonacci sequence is  =", end=' ')
  for x in range(0, n):
    nextFib = fib0 + fib1
    fib0 = fib1
    fib1 = nextFib
    print(fib0 , end = ' ') 


fib(10)

 fibonacci sequence is  = 1 1 2 3 5 8 13 21 34 55

In [ ]:
fib(5)

 fibonacci sequence is  = 1 1 2 3 5

**##########################################################################################################**

**Question 4 - Write a Python Program to Check Armstrong Number?**


**Answer 4 -**

In [ ]:
def armstrongcheck(number):
  #number = 153
  digits = len(str(number))
  temp = number
  add_sum = 0
  while temp != 0:
    # get the last digit in the number
    k = temp % 10
    # find k^digits
    add_sum += k**digits
    # floor division
    # which updates the number with the second last digit as the last digit
    temp = temp//10
  if add_sum == number:
    print(f' {number} is an Armstrong Number')

  else:
    print(f' {number} is not a Armstrong Number')

armstrongcheck(1634)

 1634 is an Armstrong Number

In [ ]:
armstrongcheck(663)

 663 is not a Armstrong Number

In [ ]:
armstrongcheck(153)

 153 is an Armstrong Number

**##########################################################################################################**

**Question 5 - Write a Python Program to Find Armstrong Number in an Interval?**


**Answer 5 -**

In [23]:
import math

first, second = 100, 2000


def is_Armstrong(val):
    sum = 0

    # this splits the val into its digits
    # example val : 153 will become [1, 5, 3]
    arr = [int(d) for d in str(val)]

    # now we iterate on array items (digits)
    # add these (digits raised to power of len i.e order) to sum
    for i in range(0, len(arr)):
        sum = sum + math.pow(arr[i], len(arr))

    # if sum == val then its armstrong
    if sum == val:
        print(str(val) + ", ", end="")


for i in range(first, second + 1):
    is_Armstrong(i)

153, 370, 371, 407, 1634,

**##########################################################################################################**

**Question 6 - Write a Python Program to Find the Sum of Natural Numbers?**


**Answer 6 -**

In [24]:
def getSum(num):
  if num == 1:
    return 1
  return num + getSum(num-1)


getSum(5)

15

In [25]:
getSum(16)

136

In [26]:
getSum(10)

55

**##########################################################################################################**