**Question 1**

**Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**

**Examples**

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [ ]:
## final Result 

def checkTrueFalse(original_int) :

#  original_int = 7227
  s = str(original_int)

#  print("Original string",s)

  list=[]

  list[:0] = s
#  print("list",list)

  list.reverse()
#  print("After reverse List will be =",list)

  reverse_str = "".join(list)
  reverse_int = int(reverse_str)
#  print("After reverse Integer is  reverse_int =", reverse_int)

  print(f"is_symmetrical({original_int}) ➞ ", end=" ")

  if original_int == reverse_int :
    return True
  else :
    return False

In [ ]:
checkTrueFalse(7227)

is_symmetrical(7227) ➞

True

In [ ]:
checkTrueFalse(12567)

is_symmetrical(12567) ➞

False

In [ ]:
checkTrueFalse(44444444)

is_symmetrical(44444444) ➞

True

In [ ]:
checkTrueFalse(9939)

is_symmetrical(9939) ➞

False

In [ ]:
checkTrueFalse(1112111)

is_symmetrical(1112111) ➞

True

**##########################################################################################################**

**Question 2**

**Given a string of numbers separated by a comma and space, return the product of the numbers.**

**Examples**

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [30]:
## Final Result

def product(s):


  
  #facto = 0
  #s = "2, 3"
  stringtolist = s.split(",")
  #print("List after conversion from string to list =",stringtolist)
  
  ## Now convert type of elements of list stringtolist from string to integer
  empty = []
  for i in stringtolist :

    #print(i)
    #print(type(i))

    element_in_integer  = int(i)

    #print(element_in_integer)
    empty.append(element_in_integer)
  #print("List of only integer elements =", end= " ")  
  #print(empty)

  #print("Factorial of integer elements =", end=" ")
  print(f"multiply_nums({s}) ➞", end=" ")
    
  facto = 1

  for j in empty:

    #facto = 1

    facto = facto * j
    #j  = j +1  

  return facto

product("1,1")

multiply_nums(1,1) ➞

1

In [31]:
product("2,3")

multiply_nums(2,3) ➞

6

In [32]:
product("10,-2")

multiply_nums(10,-2) ➞

-20

In [33]:
product("54, 75, 453, 0")

multiply_nums(54, 75, 453, 0) ➞

0

In [34]:
product("1, 2, 3, 4")

multiply_nums(1, 2, 3, 4) ➞

24

**##########################################################################################################**

**Question 3**

**Create a function that squares every digit of a number.**

**Examples**

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

**Notes**

The function receives an integer and must return an integer.

In [26]:
## Final Result

def square(n):

  #n = 9119
  #print("original integer =", n)
  string = str(n)
  #print("integer converted into string :", string)
  empty= []

  for i in string:
    empty.append(int(i))
    #print(type(i))
    #print("convert string into integer, list will be =", end= " ")
    #print(empty)
    ##print(empty*empty)
  print(f"square_digits({n}) ➞ ", end=" ")
  for j in empty:
    #print(f"square_digits({n}) ➞ ", end=" ")
    print(j*j, end="")

In [27]:
square(9119)

square_digits(9119) ➞  811181

In [28]:
square(2483)

square_digits(2483) ➞  416649

In [29]:
square(3212)

square_digits(3212) ➞  9414

**##########################################################################################################**

**Question 4**


**Create a function that sorts a list and removes all duplicate items from it.**

**Examples**

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
## final Result

def remove_duplicates_from_list(list1):

  #list1 = [4, 4, 4, 4]
  l = list(set(list1))
  l.sort()
  print(f"setify({list1}) ➞ ", end=" ")
  print(l)

In [ ]:
remove_duplicates_from_list([1, 3, 3, 5, 5])

setify([1, 3, 3, 5, 5]) ➞  [1, 3, 5]

In [ ]:
remove_duplicates_from_list([4, 4, 4, 4])

setify([4, 4, 4, 4]) ➞  [4]

In [ ]:
remove_duplicates_from_list([5, 7, 8, 9, 10, 15])

setify([5, 7, 8, 9, 10, 15]) ➞  [5, 7, 8, 9, 10, 15]

In [ ]:
remove_duplicates_from_list([3, 3, 3, 2, 1])

setify([3, 3, 3, 2, 1]) ➞  [1, 2, 3]

**##########################################################################################################**

**Question 5**

**Create a function that returns the mean of all digits**.

**Examples**

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

**Notes**

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [14]:
## Final Result

def mean(n):

  #n = 42
  #print("Original Integer =", n)
  empty = []
  string = str(n)
  #print("Integer converted into string =", string)
  
  for i in string:

    empty.append(int(i))
  
  #print("List of string after conversion of i from str to int", empty)

  #print("sum of all elements of List empty = ", sum(empty))

  avg = (sum(empty)/len(empty))
  print(f"mean({n}) ➞ ", round(avg))

In [15]:
mean(42)

mean(42) ➞  3

In [16]:
mean(12345)

mean(12345) ➞  3

In [17]:
mean(666)

mean(666) ➞  6

**##########################################################################################################**