**Question1**

Create a function that takes an integer and returns a list from 1 to the given number, where:

1.	If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).

2.	If the number cannot be divided evenly by 4, simply return the number.


**Examples**
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

**Notes**

•	The given integer will always be equal to or greater than 1.

•	Include the number (see example above).

•	To perform this problem with its intended purpose, try doing it with list comprehensions. 

If that's too difficult, just solve the challenge any way you can.

In [ ]:
## final Result

def func(n):

  #n = 25

  empty = []
  list2 = []

  for i in range(1, n+1):

    empty.append(i)

  #print("Original List = ",end=" ")
  #print(empty)
  print(f"amplify({n}) ➞", end=" ")
  for j in empty :
    if j%4 != 0:
      #print(j*10)
      list2.append(j)
  #print(list2)
    elif j%4 == 0:
      list2.append(j*10)
      #print(list2)
  else:
    print(list2)

In [ ]:
func(25)

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [ ]:
func(4)

amplify(4) ➞ [1, 2, 3, 40]

In [ ]:
func(3)

amplify(3) ➞ [1, 2, 3]

**##########################################################################################################**

**Question2**

Create a function that takes a list of numbers and return the number that's unique.

**Examples**

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

**Notes**

Test cases will always have exactly one unique number while all others are the same.

In [ ]:
## final Result

def abc(list1):

  #list1 = [3, 3, 3, 7, 3, 3]
  print(f"unique({list1}) ➞", end=" ")
  for i in list1:
    if list1.count(i) == 1:
      print(i)

In [ ]:
abc([3, 3, 3, 7, 3, 3])

unique([3, 3, 3, 7, 3, 3]) ➞ 7

In [ ]:
abc([0, 0, 0.77, 0, 0])

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

In [ ]:
abc([0, 1, 1, 1, 1, 1, 1, 1])

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

**##########################################################################################################**

**Question3**

Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

**Examples**

circy = Circle(11)
circy.getArea()

# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()

# Should return 27.897342763877365

**Notes**

Round results up to the nearest integer.

In [1]:
## final Result


class circle:

  def __init__(self, r =0):
    self.r = r 

  def get_area(self):
    area = (22/7)*(self.r**2)
    self.area = area
    print("Area of circle is =", end=" ")
    return self.area

  def get_perimeter(self)  :
    perimeter = 2*(22/7)*self.r
    self.perimeter = perimeter
    print("Perimeter of circle is =", end=" ")
    return self.perimeter


circy =circle(11) 
print(circy.get_area())  
print(circy.get_perimeter())

Area of circle is = 380.2857142857143
Perimeter of circle is = 69.14285714285714

In [2]:
circy =circle(4.44) 
print(circy.get_area())  
print(circy.get_perimeter())

Area of circle is = 61.95702857142858
Perimeter of circle is = 27.90857142857143

**##########################################################################################################**

**Question4**

Create a function that takes a list of strings and return a list, sorted from shortest to longest.

**Examples**

sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]

**Notes**

All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [13]:
# Final  Result

def sort(list1):

  #list1 = ["Google", "Apple", "Microsoft"]
  list1.sort(key = len)
  print(list1)

In [14]:
sort(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [15]:
sort(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [16]:
sort(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

**##########################################################################################################**

**Question5**

Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.


**Examples**

is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9

**Notes**

Numbers may not be given in a sorted order.

In [9]:
## final Result


def func(a,b,c):

  
  empty = []
  empty.append(a)
  empty.append(b)
  empty.append(c)

  
  empty.sort()
  sorted_list = empty
  
  sum_of_square_of_1_and_2_elements = ((sorted_list[0])**2) + ((sorted_list[1])**2)
  
  square_of_large_element = ((sorted_list[2])**2)
  

  print(f"is_triplet({a,b,c}) ➞ ", end=" ")

  if sum_of_square_of_1_and_2_elements == square_of_large_element :
    print("True")

  else:
    print("False")

In [10]:
func(13,5,12)

is_triplet((13, 5, 12)) ➞  True

In [11]:
func(3,4,5)

is_triplet((3, 4, 5)) ➞  True

In [12]:
func(1,2,3)

is_triplet((1, 2, 3)) ➞  False

**##########################################################################################################**